version: 2.1  # make sure it is 2.1

orbs:
  win: circleci/windows@2.2.0

jobs:
  build-linux:
    docker:
      - image: sublimetext/unittesting
    steps:
      - checkout
      - run: sh -e /etc/init.d/xvfb start
      - run: curl -OL https://raw.githubusercontent.com/SublimeText/UnitTesting/master/sbin/circleci.sh
      - run: |
          export PATH="$HOME/.local/bin:$PATH"

          # bootstrap the testing environment
          sh circleci.sh bootstrap

          # install Package Control and package denepdencies
          # sh circleci.sh install_package_control

          # run tests with test coverage report
          sh circleci.sh run_tests --coverage

          # testing syntax_test files
          # sh circleci.sh run_syntax_tests
      - run: |
          apt-get install python3-pip -y
          pip3 install coverage==4.5.4 codecov==2.0.15
          codecov


  build-macos:
    macos:
      xcode: "9.0"
    steps:
      - checkout
      - run: curl -OL https://raw.githubusercontent.com/SublimeText/UnitTesting/master/sbin/circleci.sh
      - run: |
          export PATH="$HOME/.local/bin:$PATH"

          # bootstrap the testing environment
          sh circleci.sh bootstrap

          # install Package Control and package denepdencies
          # sh circleci.sh install_package_control

          # run tests with test coverage report
          sh circleci.sh run_tests --coverage

          # testing syntax_test files
          # sh circleci.sh run_syntax_tests
      - run: |
          brew upgrade python
          pip3 install coverage==4.5.4 codecov==2.0.15
          codecov

  build-windows:
    executor: win/default
    steps:
      - checkout
      - run: |
          (new-object net.webclient).DownloadFile("https://raw.githubusercontent.com/SublimeText/UnitTesting/master/sbin/circleci.ps1","circleci.ps1")

          # bootstrap the testing environment
          ./circleci.ps1 "bootstrap" -verbose

          # install Package Control and package denepdencies
          ./circleci.ps1 "install_package_control" -verbose

          # run tests with test coverage report
          ./circleci.ps1 "run_tests" -coverage -verbose

          # testing syntax_test files
          # ./circleci.ps1 "run_syntax_tests" -verbose
      - run: |
          pip install coverage==4.5.4 codecov==2.0.15
          codecov

workflows:
  version: 2
  build_and_test:
    jobs:
      - build-linux
      - build-macos
      - build-windows
